@model AdventureWorksOBPRepo.Proizvod

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDProizvod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProizvod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojProizvoda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojProizvoda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimalnaKolicinaNaSkladistu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimalnaKolicinaNaSkladistu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaBezPDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaBezPDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>

        <dt>
            Potkategorija
        </dt>

        <dd>
            @if (Model.Potkategorija != null)
            {
                @Html.ActionLink(Model.Potkategorija.Naziv, "PotkategorijaDetails", new { id = Model.Potkategorija.IDPotkategorija })
            }
        </dd>

        <dt>
            Kategorija
        </dt>

        <dd>
            @if (Model.Potkategorija != null)
            {
                @Html.ActionLink(Model.Potkategorija.Kategorija.Naziv, "KategorijaDetails", new { id = Model.Potkategorija.Kategorija.IDKategorija })
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDProizvod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
