@model AdventureWorksOBPRepo.Potkategorija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Potkategorija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPotkategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPotkategorija)
        </dd>

        <dt>
            @Html.DisplayName("Potkategorija")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategorija.IDKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorija.IDKategorija)
        </dd>

        <dt>
            @Html.DisplayName("Kategorija")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorija.Naziv)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPotkategorija }) |
    @Html.ActionLink("Back to List", "Index")
</p>
