@model IEnumerable<AdventureWorksOBPRepo.Racun>

<h4>Racuni</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDRacun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Komentar)
        </th>
        <th>
            @Html.DisplayName("Kupac")
        </th>
        <th>
            @Html.DisplayName("Komercijalist")
        </th>
        <th>
            @Html.DisplayName("Kreditna Kartica")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDRacun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.ActionLink(item.BrojRacuna, "RacunDetails", new { id = item.IDRacun })
        </td    >
        <td>
            @Html.DisplayFor(modelItem => item.Komentar)
        </td>
        <td>
            @Html.ActionLink($"{item.Kupac.Ime} {item.Kupac.Prezime}", "Details", new { id = item.Kupac.IDKupac })
        </td>
        <td>
            @item.Komercijalist.Ime @item.Komercijalist.Prezime
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KreditnaKartica.Broj)
        </td>
        <td class="gap-1 actions">
            @Html.ActionLink("Details", "RacunDetails", new { id=item.IDRacun })
        </td>
    </tr>
}

</table>
