@model AdventureWorksOBPRepo.Racun

@{
    ViewBag.Title = "RacunDetails";
}

<h2>Racun</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDRacun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRacun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar)
        </dd>

    </dl>
</div>

@Html.Partial("Stavka", MVC_Site.Models.RepoSingleton.GetInstance().GetMultipleStavka(Model.IDRacun).Values)

<p>
    @Html.ActionLink("Back to Kupac", "Details", new { id = Model.Kupac.IDKupac })
</p>
